<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201126940133-34hc86phgvud0p990k6ra4ur9uf0su8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201126940133-34hc86phgvud0p990k6ra4ur9uf0su8f</string>
	<key>API_KEY</key>
	<string>AIzaSyCfXoczrihZxWuoeNgY59auSqtreOXl1PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>201126940133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.z3r0f0.blablagithub</string>
	<key>PROJECT_ID</key>
	<string>blablagithub</string>
	<key>STORAGE_BUCKET</key>
	<string>blablagithub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201126940133:ios:29a5a7c2663bfa4d31b30c</string>
</dict>
</plist>